[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "flevr"]
	path = flevr
	url = https://github.com/bdwilliamson/flevr
[submodule "lvimp"]
	path = lvimp
	url = https://github.com/bdwilliamson/lvimp
[submodule "vimp"]
	path = vimp
	url = https://github.com/bdwilliamson/vimp
